.summaryContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.goBackButton{
  position: fixed;
  top: 15px;
  left: 15px;
}
.summaryTable, .summaryTable th{
  border: 1px solid black;
  border-collapse: collapse;
}

.summaryTable{
  margin-top: 50px;
}

.summaryTable th {
  padding: 5px;
}
